/* Valakia Interactive Oy */

body {
    background-color: black;
    margin: 0;
    padding-top: 20px;
    padding-left: 5px;
}
.tuuli {
    width: 88px;
    height: 100px;
    float: left;
}
.ikoni {
    width: 70px;
    height: 100px;
    float: left;
    text-align: center;
}
.lampotila {
    width: 168px;
    height: 150px;
    float: left;
    text-align: center;
    bottom: 20px;
}
h1 {
    color: #fff;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
}
.container img {
    height:110px;
    width:110px;
    margin-left: -10px;
}
.container{
    width: 158px;
    height: 237px;
}
.cover {
    position: fixed;
    top: 62px;
    left: -4px;
    width: 110px;
}
h3 {
    color: #fff;
    font-size: 3.9em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.aika {
    margin-top: 50px;
}
.aika h1 {
    font-size: 2em;
}